<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Posts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h3>{{ title }} template</h3>
    {% for obj in object_list %}
    {% url "posts:detail" id=obj.id %}
        {{ obj.id }}

        <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
        {{ obj.content }}
        {{ obj.timestamp }}
        <a href="{{ obj.id }}/edit">Update</a><br/>
    {% endfor %}
    {{ instance }}
    <a href="{% url 'posts:create' %}">Create</a>

    </body>
</html>