{% extends 'base.html' %}
{% load urlify %}
{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}
{% block content %}

1. {{ instance.content|urlify|truncatechars:70 }}<br>
2. {{ share_string|truncatechars:70 }}

<h1>{{ title }} <small> {{ instance.timestamp }}</h1>


{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}



{% if instance.image %}
<img src="{{ instance.image.url }}" class="img-responsive" alt="">
{% endif %}

<div class="row">
<div class="col-sm-8">
    <div class="content-markdown">{{ instance.content }}</div>
    <hr/>
    <br/>

</div>
</div>


<p><a href="./edit" class="btn btn-primary" role="button">Edit</a>
<a href="./delete" class="btn btn-default" role="button">Delete</a></p>

Timestamp: {{ instance.timestamp }}
<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ instance.content|urlify }}.">Reddit</a>

<div class="row">

<div class="fb-like" data-href="{{ request.build_absolute_uri }}"
data-layout="standard" data-action="like" data-size="small" data-show-faces="true"
data-share="true"></div>

<div class="fb-follow" data-href="{{ request.build_absolute_uri }}"
data-layout="standard" data-size="small" data-show-faces="true"></div><br/>
<div class="fb-send" data-href="{{ request.build_absolute_uri }}"></div>


</div>


<div class="container">
    <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"
data-numposts="10"></div>
</div>


{% endblock content %}
