{% extends 'base.html' %}
{% block content %}

<div class="col-sm-8 col-sm-offset-2">

    <h1>{{ title }}</h1>


{% for obj in object_list %}
<div class="row">


  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
        <img src="{{ obj.image.url }}" class="img-responsive" alt="">
        {% endif %}

      <div class="caption">
        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
        <p>
            <div class="container">

                {{ obj.id }}

                {{ obj.content|truncatechars:70 }}<br/>
                {{ obj.timestamp }}<br/>
                ({{ obj.timestamp|timesince }} ago)
            </div>
        </p>
        <p><a href="{{ obj.id }}/edit" class="btn btn-primary" role="button">Edit</a>
        <a href="{{ obj.id }}/delete" class="btn btn-default" role="button">Delete</a></p>
      </div>
    </div>
  </div>
</div>


<!--{% cycle ""     "</div></div class='row'>"   %}-->
<!--{% cycle "" "<div class='col-sm-12'><hr/></div></div></div class='row'>" %}-->
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}"
            class="btn btn-default" role="button">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}"
            class="btn btn-default" role="button">Next</a>
        {% endif %}
    </span>
</div>

</div>




{% endblock content %}


